<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="projekt.dashboard">

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DarkMaterial"
        android:vmSafeMode="true"
        tools:ignore="GoogleAppIndexingWarning,RtlEnabled,UnusedAttribute">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.BlackedOut">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AppIntroduction"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.HeaderPackDownloadActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.Overlay" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".viewer.ViewerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.Viewer" />
    </application>
</manifest>